<div class="jumbtron">
  <h1 class="lead">Загруженные файлы</h1>
</div>
<mat-accordion  multi="true" >

    <mat-expansion-panel *ngFor="let group of service.list" [(expanded)]="Xpand">
      <mat-expansion-panel-header>
        {{group[0].UploadDate | date: "dd.MM.yyyy"}}
      </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-5">Название</div>
                <div class="col-md-5">Размер</div>
                <div class="col-md-1">Удалить</div>
                <div class="col-md-1">Сохранить</div>
            </div>
            <mat-divider></mat-divider>
          <div class="row" *ngFor="let fil of group" >
            <div class="col-md-5">{{fil.Name}}</div>
            <div class="col-md-5">{{fil.Length/1024 | number: '1.1-1'}} Кб</div>
            <div class="col-md-1">
                <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteFile(fil.Id)"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-file-download" (click)="download(fil.Id, fil.Name)"></i>
            </div>

          </div>
    
  
    </mat-expansion-panel>  
   
  
  </mat-accordion>


